// Colors
$base-color: #21201e;
$accent-color: #37ae66;
$second-color: #7e91a9;

// Font size
$base-font-size: 18px;
$base-line-height: 2;

// Fonts
$base-font: 'Open Sans', sans-serif;
$logo-font: 'Myriad Pro', sans-serif;
$title-font: 'Gotham Pro', sans-serif;