nav.main-nav
    ul.main-nav__list.container
        li.main-nav__item
            a.main-nav__link(href="#") Главная
        li.main-nav__item
            a.main-nav__link(href="#") О компании
        li.main-nav__item
            a.main-nav__link(href="#") Услуги
            ul.main-nav__submenu.main-submenu
                li.main-submenu__item
                    a(href="#").main-submenu__link Земляные работы
                li.main-submenu__item
                    a(href="#").main-submenu__link Кирпичная кладка стен
                li.main-submenu__item
                    a(href="#").main-submenu__link Кровельные работы
                li.main-submenu__item
                    a(href="#").main-submenu__link Благоустройство территорий
                li.main-submenu__item
                    a(href="#").main-submenu__link Мозаичные полы
                li.main-submenu__item
                    a(href="#").main-submenu__link Отделочные работы
                li.main-submenu__item
                    a(href="#").main-submenu__link Уборка и вывоз снега
                li.main-submenu__item
                    a(href="#").main-submenu__link Демонтаж зданий
        li.main-nav__item
            a.main-nav__link(href="#") Каталог спецтехники
            ul.main-nav__submenu.main-submenu
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда автокрана
                    ul.main-nav__submenu.main-submenu
                        li.main-submenu__item
                            a(href="#").main-submenu__link Аренда автокрана 25 тонн
                        li.main-submenu__item
                            a(href="#").main-submenu__link Аренда автокрана 16 тонн
                        li.main-submenu__item
                            a(href="#").main-submenu__link Аренда автокрана 30-32 тонны
                        li.main-submenu__item
                            a(href="#").main-submenu__link Аренда автокрана 50 тонн
                        li.main-submenu__item
                            a(href="#").main-submenu__link Аренда автокрана 70 тонн 7 500 т.р / час
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда манипулятора
                    ul.main-nav__submenu.main-submenu
                        li.main-submenu__item
                            a(href="#").main-submenu__link Манипулятор 5 тонн
                        li.main-submenu__item
                            a(href="#").main-submenu__link Манипулятор 7 тонн
                        li.main-submenu__item
                            a(href="#").main-submenu__link Манипулятор 10 тонн
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда автовышки
                    ul.main-nav__submenu.main-submenu
                        li.main-submenu__item
                            a(href="#").main-submenu__link Автовышка 45 метров
                        li.main-submenu__item
                            a(href="#").main-submenu__link Автовышка 22 метра коленная
                        li.main-submenu__item
                            a(href="#").main-submenu__link Автовышка 22 метра телескопическая
                        li.main-submenu__item
                            a(href="#").main-submenu__link Автовышка 30 метров
                        li.main-submenu__item
                            a(href="#").main-submenu__link Автовышка 18 метров
                        li.main-submenu__item
                            a(href="#").main-submenu__link АГП NOVAS - 30 метров
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда бульдозера
                    ul.main-nav__submenu.main-submenu
                        li.main-submenu__item
                            a(href="#").main-submenu__link Бульдозер с рыхлителем
                li.main-submenu__item
                    a(href="#").main-submenu__link Мини-экскаватор
                    ul.main-nav__submenu.main-submenu
                        li.main-submenu__item
                            a(href="#").main-submenu__link Мини-экскаватор Komatsu PC28 9 (Delta -3) с гидромолотом
                        li.main-submenu__item
                            a(href="#").main-submenu__link Мини-экскаватор Komatsu PC28
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда колесного экскаватора
                    ul.main-nav__submenu.main-submenu
                        li.main-submenu__item
                            a(href="#").main-submenu__link Колесный экскаватор Hyundai R140W 9s
                        li.main-submenu__item
                            a(href="#").main-submenu__link Колесный экскаватор Doosan DX140W
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда гусеничного экскаватора
                    ul.main-nav__submenu.main-submenu
                        li.main-submenu__item
                            a(href="#").main-submenu__link Гусеничный экскаватор KOMATSU PC-220
                        li.main-submenu__item
                            a(href="#").main-submenu__link Гусеничный экскаватор ЭО-5126
                        li.main-submenu__item
                            a(href="#").main-submenu__link Гусеничный экскаватор JSB JS-205
                        li.main-submenu__item
                            a(href="#").main-submenu__link Гусеничный экскаватор KOMATSU PC-400
                        li.main-submenu__item
                            a(href="#").main-submenu__link Аренда гусеничного экскаватора с гидромолотом
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда гидромолота
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда погрузчика
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда ямобура
                li.main-submenu__item
                    a(href="#").main-submenu__link Дизельный компрессор
                li.main-submenu__item
                    a(href="#").main-submenu__link Дорожный каток
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда трала
                    ul.main-nav__submenu.main-submenu
                        li.main-submenu__item
                            a(href="#").main-submenu__link Аренда трала 25 тонн 11 метров
                        li.main-submenu__item
                            a(href="#").main-submenu__link Аренда трала 40 тонн 9 метров
                        li.main-submenu__item
                            a(href="#").main-submenu__link Трал для перевозки спецтехники
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда длинномера
                    ul.main-nav__submenu.main-submenu
                        li.main-submenu__item
                            a(href="#").main-submenu__link Аренда полуприцепа 10-12 метров
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда самосвала
                li.main-submenu__item
                    a(href="#").main-submenu__link Сваебой
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда щетки дорожной
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда экскаватора погрузчика
                    ul.main-nav__submenu.main-submenu
                        li.main-submenu__item
                            a(href="#").main-submenu__link Экскаватор-погрузчик JCB-3СХ
                        li.main-submenu__item
                            a(href="#").main-submenu__link Экскаватор-погрузчик KOMATSU-93
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда автобетононасоса
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда крановой бурильной установки
                li.main-submenu__item
                    a(href="#").main-submenu__link Аренда илососа
        li.main-nav__item
            a.main-nav__link(href="#") Свайные работы
            ul.main-nav__submenu.main-submenu
                li.main-submenu__item
                    a(href="#").main-submenu__link Испытание свай
                li.main-submenu__item
                    a(href="#").main-submenu__link Погружение свай
                li.main-submenu__item
                    a(href="#").main-submenu__link Срубка свай
                li.main-submenu__item
                    a(href="#").main-submenu__link Статические испытания свай
                li.main-submenu__item
                    a(href="#").main-submenu__link Динамические испытания свай
                li.main-submenu__item
                    a(href="#").main-submenu__link Забивка свай
                li.main-submenu__item
                    a(href="#").main-submenu__link Лидерное бурение
        li.main-nav__item
            a.main-nav__link(href="#") Документы
        li.main-nav__item
            a.main-nav__link(href="#") Цены
        li.main-nav__item
            a.main-nav__link(href="#") Интересно знать
        li.main-nav__item
            a.main-nav__link(href="#") Контакты